body{
    background-color: rgb(56, 42, 205);
}

.box {
          background-color: rgb(244, 242, 242);
          margin: 100px;
          margin-left: auto;
          margin-right: auto;
          width: 30%;
          height: 500px;
          padding: 10px;
          border-radius: 2%;
          border: 5px solid rgb(180, 186, 180);
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
        

img{
    
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 70px;
    margin-right: 100px;

    
}   
h1{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}     
p{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(109, 105, 105);
}




       

    
